$primary-main: #f2c231;
$primary-gold: #ffe598;
$primary-grey: #c7c7c7;
$primary-grey-dark: #878786;
$primary-red: #e5243f;
$primary-dark: #333;

$secondary-dark: #575756;
$secondary-grey: #f2f2f2;
$secondary-purple: #ef4fef;
$secondary-midnight: #ccc;

$layout-main: #fdeccc;

$color-primary-yellow-100: #ffb000;
